*{
	box-sizing: border-box;
	margin-bottom: 0;
}

.header ul{
	list-style-type: none;
	margin:10px;
	padding:0;
	overflow:hidden;
}

.header li{
	float:right;
	display:block;
	padding:12px;
	color:#8c1aff;
	font-size:20px;
	text-decoration: bold;
	font-family: 'Dela Gothic One', cursive;
	font-family: 'Fira Sans Condensed', sans-serif;
}

.header li a{
	text-decoration:none;
}

.header{
	background-color:white;
	box-shadow:black;
	width:100%;
	height:50px;
	position:fixed;
	/*box-shadow:0 0 5px 2px black;*/
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3) !important;
	z-index:1;
}

body{
	/*background-color:#ffb3b3;*/
	/*background-image: url('3.jpg');
	background-repeat: none;
	background-size: 100%;
	background-position: cover;
	height:100vh;*/
	overflow-x:hidden;
	margin:0;
	margin-top:0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

.container{
	/*margin-top:10px;*/
	/*margin-right:20px;*/
	/*margin-left:20px;*/
	/*background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),url('../Images/blood_4.jpg');*/
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),url('../Images/blood_2.gif');
	background-repeat: none !important;
	background-size: cover !important;
	height:500px;

}
.row{
	display: flex;
	justify-content: center;
	align-items: center;
}

.col-1{
	/*flex-basis:50%;*/
	/*min-width:400px;*/
	text-align: center;	
	width:100%;
}

.col-1 img{
	height:400px;
	width:400px;
}

p{
	font-family: 'Courgette', cursive;
	text-align: center;
	font-size:30px;
	color:white;
}
.brand{
	margin-top: 9%;
}

.band{
	margin-top: 6%;
}
/*.social{
	position:absolute;
	bottom:0;
	right:0;
	margin-top: 20px;
}*/

.btn{
	background-color: #9966ff;
	color:white;
	font-family: "Times New Roman";
	display:inline-block;
	font-size:20px;
	margin:10px;
	border-radius: 10px;
	padding:10px;
}

.btn:hover{
	cursor:pointer;
}

.btn:focus{
	outline:none;
}

/*.info
{
	height:40px;
}*/

.info p{
	font-size:20px;
	/*background-color:white;*/
	color:white;
	/*height:50px;*/
	/*padding:0;*/
	/*margin:0;*/
}

/*.info_1{
	height:30px;
}*/

.small-container{
	margin-right: 50px;
	margin-left:50px;
	margin-bottom: 20px;
}

.col-3{
	flex-basis:33.34%;
	min-width:300px;
	text-align: center;
	display:flex;
	justify-content:center;
	align-items:center;
}

.cards{
	background-color:#d9d9d9;       
	width: 300px;
    height: 250px;
    text-align: center;
    border-radius:20px;
    font-family: 'PT Sans Narrow', sans-serif;
   	padding:50px;
   	font-size:20px;
   	transition: transform ease-in;
}

.cards img{
	height:100px;
	width:100px;
}

.card-text{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:20px;
	margin-top: 5%;
	color:black;
}

.cards:hover{
	transform: translateY(-10px);
	cursor: pointer;
	/*color:#002db3;*/
	background-color:#ff6600;
}

.row-1{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom:20px;
	margin-top: 20px;
	margin-left:60px;
	margin-right: 60px;
}

.styling{
	font-family: 'PT Sans Narrow', sans-serif;
	color:black;
}

.mySlides, .mySlides_2,.mySlides_3{
	display: none;
}

.mySlides img, .mySlides_2 img,.mySlides_3 img{
	vertical-align: middle;
}

.slideshow-container_1,.slideshow-container_2,.slideshow-container_3 {
  max-width: 700px;
  position: relative;
  margin: auto;
  display:none;
}
.prev, .next , .prev_2 ,.next_2,.prev_3,.next_3{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next,.next_2 ,.next_3{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover ,.prev_2:hover,.next_2:hover,.prev_3:hover,.next_3:hover{
  background-color: rgba(0,0,0,0.8);
}

.dot ,.dot_2 , .dot_3{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover ,.active_2,.dot_2:hover,.active_3,.dot_3:hover{
  background-color: #717171;
}

.s-conatiner{
	margin-top:30px;
}

.event{
	display:block;
}

.f-container{
	margin-top:30px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom: 20px;
	height:830px;
	background-color:#73e600;
}

.rr{
	display: flex;
	margin-left:100px;
}

.cc{
	flex-basis:50%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 220px;
  height: 220px;
  perspective: 1000px;
  border:1px solid white;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border:1px solid white;
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden;
  border:1px solid white;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #66b3ff;
  color: black;
  text-align: center;
}

.flip-card-back {
  background-color: #ffcc00;
  color: white;
  transform: rotateY(180deg);
}

.row-2{
	display:flex;
	justify-content: space-around;
	margin-right:120px;
	margin-left: 120px;
}

.col-4{
	flex-basis: 25%;
	min-width:220px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.flip-card-front p{
	margin-top:50%;
	font-family:"Times New Roman";
}

.flip-card-back p{
	font-family:"Times New Roman";
	font-size:20px;
}

/*what to expext para cum table*/
.para{
	margin-top: 20px;
	height:1000px;
	width:700px;
}
.para img{
	float: right;
}
.heading{
	text-align: center;
	font-size:40px;
}

.row-3{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-right:50px;
	margin-left: 50px;
}

.col{
	flex-basis:50%;
	min-width:300px;
	text-align: left;
}

.col img{
	/*float:right;*/
}

.style{
	font-family:"Times New Roman";
	font-size:20px;
	color:black;
}

.col p{
	text-align:left;
}

.p-container{
	display:flex;
	/*justify-content: center;
	align-items: center;*/
	height:1140px;
	/*margin-left:15px;*/
}

.row-4{
	flex-basis:40%;
}

.row-4 p{
	text-align: left;
	font-family:"Times New Roman";
	font-size:25px;
	margin-top:14%;
	color:black;
}

p span{
	font-size: 30px;
}

.icons{
	margin-top:2px;
	/*position:relative;*/
	display:flex;
	justify-content: center;
	align-items: center;
}

.notifications{
	margin-top:20px;
	/*display:flex;
	justify-content: center;
	align-items: center;*/
}

.updates{
	margin-left:50px;
}

.updates p{
	font-size:20px;
	color:black;
	font-family:"Times New Roman";
	line-height:20px;
}

.form{
	display:flex;
	justify-content: center;
	align-items: center;
	width:600px;
	z-index:999;
	background:rgba(255,255,255,0.2);
	border-radius:10px;
	/*background-color: black;*/
	/*opacity:0.5;*/
}

.form-container{
	display:flex;
	justify-content: center;
	align-items: center;
}

.textfield{
	height:40px;
	padding:5px;
	font-size:18px;
}

form{
	/*background-color:#ff8080;*/
	/*background-color:black;*/
	/*opacity: 0.5;*/
	padding:20px;
	border-radius:10px;
}

.head{
	font-family: 'Dela Gothic One', cursive;
}

.btn-1{
	border-radius: 20px;
	font-size:20px;
	font-family: 'Dela Gothic One', cursive;
	height:70px;
	background-color:#99ccff;
}

.btn-1:active{
	outline:none;
}

.btn-1:hover{
	cursor:pointer;
}

.contact{
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),url("../Images/blood_2.jpeg") !important;
	background-repeat: none !important;
	background-size: cover !important;
	/*filter:blur(5px);*/
	color:white;
}

.row-5{
	display:flex;
	margin-left:20px;
	margin-right:20px;
	justify-content: space-around;
}

.col-2{
	flex-basis: 25%;
	min-width:200px;
	text-align: center;
}

.sponsor h2{
	font-size:30px;
	font-family: 'Dela Gothic One', cursive;
	font-family: 'Fira Sans Condensed', sans-serif;
	color:#0066ff;
}

.sponsor h2:hover{
	color:red;
}

.footer{
	margin-top:10px;
	margin-left: 10px;
    margin-right: 10px;
}

.row-6{
	margin-right: 30px;
	margin-left:30px;
	display: flex;
	justify-content: space-around;
}

.column{
	flex-basis:34%;
	min-width:200px;
	
}

.column p{
	color:white;
	font-size:15px;
	text-align:left;
	padding-right: 10px;
	padding-left: 10px;
}

.foot-para{
	display: flex;
	align-items: center;
	justify-content: center;
}

.quick ul{
	list-style-type: none;
	/*padding:5px;*/
}

.quick li{
	/*padding:2px;*/
	font-size:20px;
}

.con ul{
	list-style-type: none;
}

.ff-container{
	color:white;
	background-color:#595959;
}

.x{
	font: 12px/12px Arial, Helvetica, sans-serif;
	width: 95%;
	text-align: left;
	padding: 2px 5% 0 0;
}

.count{
	margin-top:20px;
	text-align: center;
	background-color:#ff6666;
	width:75%;
	margin-bottom:20px;
	padding-bottom: 5px;
	/*padding-top:5px;*/
	border-radius:10px;
}

.count label{
	font-size:30px;
	font-family:'Fira Sans Condensed', sans-serif;
}

.btn-1{
	font-size:20px;
	margin:10px;
	border-radius: 20px;
	padding:10px;
}

.btn-1:focus{
	outline:none;
}

#c{
	border:0;
	border-bottom: 2px solid black;
	font-size:25px;
	text-align: center;
}

#c:focus{
	outline:none;
}

#d{

	border:0;
	border-bottom: 2px solid black;
	font-size:25px;
	text-align: center;
}

.count input{
	background-color: transparent;
}

.count h2{
	 font-family: 'Bungee Shade', cursive;
	 font-size:40px;
}


.counters-body{
	font-family: 'Roboto', sans-serif;
	background-color: #ff471a;
	color:white;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
}

.counter-container{
	max-width:1100px;
	margin:0 auto;
	overflow:auto;
}

.counters{
	padding:40px 20px;
	border-top:3px black solid;
	border-bottom:3px black solid; 
}

.counters .counter-container{
	display:flex;
	justify-content:space-around;
}

.counter{
	text-align: center;
	font-size: 30px;
    text-decoration: bold !important;
}

.counters h3{
	font-size:20px;
}

.row-7{
	display:flex;
	margin-right: 50px;
	margin-left:50px;
	justify-content: space-around;
	margin-top:60px;
}

col-5{
	flex-basis:33.34%;
	min-width:500px;
	display:flex;
	justify-content:center;
}

.testimonials{
	background-image: url('../Images/blood_3.jpeg');
	background-repeat: none !important;
	background-size: cover !important;
	height:600px;
	position:relative;
	/*background-position: cover;*/
}

.testimonials h2{
	color:white;
	float:left;
	position:absolute;
	left: 50px;
    top: 20px;
}

.test{
	background-color: white;
	width:350px;
	height:200px;
	border-radius: 5px;
	padding:1px;
	transition:transform ease-in;
	/*position: relative;*/
}

.test p{
	font-size:18px;
	color:black;
	font-family:"Times New Roman";
	text-align:left;
	padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.test h4{
	text-align: center;
	display:inline;
	/*margin-top:5px;*/
}

.test img{
	border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
}

.uu{
	color:red;
	font-size:18px;
}

.test:hover{
	cursor: pointer;
	transform:translateY(-10px);
}

.video{
	margin-top: 50px;
	margin-bottom: 50px;
	display:flex;
	justify-content: center;
}



