*{
	box-sizing: border-box;
}

ul{
	list-style-type: none;
	margin:10px;
	padding:0;
	overflow:hidden;
}

li{
	float:right;
	display:block;
	padding:0px 12px;
	color:white;
	text-decoration: bold;
}

body{
	/*background-color:#ffb3b3;*/
	/*background-image: url('3.jpg');
	background-repeat: none;
	background-size: 100%;
	background-position: cover;
	height:100vh;*/
	overflow-x:hidden;
	margin:0;
	margin-top:0;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.container{
	margin-top:50px;
	/*margin-right:20px;*/
	/*margin-left:20px;*/
}
.row{
	display: flex;
}

.col-1{
	flex-basis:50%;
	min-width:400px;
	text-align: center;	
}

p{
	font-family: 'Courgette', cursive;
	text-align: center;
	font-size:30px;
	color:red;
}
.brand{
	margin-top: 6%;
}

.social{
	position:absolute;
	bottom:0;
	right:0;
}

.btn{
	background-color: #9966ff;
	color:white;
	font-family: "Times New Roman";
	display:inline-block;
	font-size:20px;
	margin:10px;
	border-radius: 20px;
	padding:10px;
}

.btn:hover{
	cursor:pointer;
}

.btn:focus{
	outline:none;
}

.small-container{
	margin-right: 50px;
	margin-left:50px;
	margin-bottom: 20px;
}

.col-3{
	flex-basis:33.34%;
	min-width:300px;
	text-align: center;
	display:flex;
	justify-content:center;
	align-items:center;
}

.cards{
	background-color: #ff6600;
	width: 200px;
    height: 150px;
    text-align: center;
    border-radius:20px;
    font-family: 'PT Sans Narrow', sans-serif;
   	padding:50px;
   	font-size:20px;
   	transition: transform ease-in;
}

.cards:hover{
	transform: translateY(-10px);
	cursor: pointer;
	color:#002db3;
}

.row-1{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom:20px;
}

.styling{
	font-family: 'PT Sans Narrow', sans-serif;
	color:black;
}

.mySlides, .mySlides_2,.mySlides_3{
	display: none;
}

.mySlides img, .mySlides_2 img,.mySlides_3 img{
	vertical-align: middle;
}

.slideshow-container_1,.slideshow-container_2,.slideshow-container_3 {
  max-width: 700px;
  position: relative;
  margin: auto;
  display:none;
}
.prev, .next , .prev_2 ,.next_2,.prev_3,.next_3{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next,.next_2 ,.next_3{
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover ,.prev_2:hover,.next_2:hover,.prev_3:hover,.next_3:hover{
  background-color: rgba(0,0,0,0.8);
}

.dot ,.dot_2 , .dot_3{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover ,.active_2,.dot_2:hover,.active_3,.dot_3:hover{
  background-color: #717171;
}

.s-conatiner{
	margin-top:30px;
}

.event{
	display:block;
}

.f-container{
	margin-top:30px;
	margin-right:10px;
	margin-left:10px;
}

.flip-card {
  background-color: transparent;
  width: 220px;
  height: 220px;
  perspective: 1000px;
  border:1px solid white;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border:1px solid white;
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden;
  border:1px solid white;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #66b3ff;
  color: black;
  text-align: center;
}

.flip-card-back {
  background-color: #ffcc00;
  color: white;
  transform: rotateY(180deg);
}

.row-2{
	display:flex;
	justify-content: space-around;
}

.col-4{
	flex-basis: 25%;
	min-width:220px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.flip-card-front p{
	margin-top:50%;
	font-family:"Times New Roman";
}

.flip-card-back p{
	font-family:"Times New Roman";
	font-size:20px;
}

/*what to expext para cum table*/
.para{
	margin-top: 20px;
	height:700px;
	width:700px;
}
.para img{
	float: right;
}
.heading{
	text-align: center;
	font-size:40px;
}

.row-3{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-right:50px;
	margin-left: 50px;
}

.col{
	flex-basis:50%;
	min-width:300px;
	text-align: left;
}

.col img{
	/*float:right;*/
}

.style{
	font-family:"Times New Roman";
	font-size:20px;
	color:black;
}

.col p{
	text-align:left;
}

.p-container{
	display:flex;
	justify-content: center;
	align-items: center;
}




